<div class="login_page">LoginPage</div>
<div class="input">
   <%= form_tag("/login") do %>
        <div class="member_num">
            社員No.<input type="text" name="id">
        </div>
        <div class="password">パスワード<input type="text" name="password"></div>
        <button class="submit">login</button>
   <% end %>
</div>
