/* 共通のスタイリング */
*{
  margin: 0;
  padding: 0;
}

.admin_header{
  margin: 8px;
  font-size:1.5rem;
  padding: 8px 16px;
}
.admin_header .header_message{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #a3ddee;
  padding: 8px 24px;
  border-radius: 24px 0 0 24px;
}
.admin_header .header_message .admin_logout{
  border: 1px solid black;
  border-radius: 16px;
  padding: 0px 8px;
  background-color: #f4efef;
  cursor: pointer;
}
.admin_header .header_message .admin_logout a{
  text-decoration: none;
  color: black;
}

.admin_header .header_message .admin_logout:hover{
  background-color: #1716164b;
  color: white;
}

.header_list{
  display: flex;
  justify-content: flex-end;
 
}
.header_list ul{
  display: flex;
}
.header_list ul li{
  background-color: #f4efef;
  list-style: none;
  cursor: pointer;
  border: 0.2px solid black;
  color: black;
  border-radius: 4px;
  padding: 0 16px;
}
.header_list ul li:nth-child(5){
  border-radius: 4px 0 4px 4px;
}

.header_list ul li:hover{
 background-color: #413b3b4b;
}
.header_list ul li a{
  text-decoration: none;
  color: black;
}

/* admin/employeelist_editのスタイリング */
.employeelist_edit_page_name{
  font-size:1.5rem;
  text-align: center;
  margin-top: 32px;
  background-color: #c0bbbb;
  padding: 32px;
  border-radius: 32px 32px 0 0;
}
.employeelist_edit_container{
  background-color: #c0bbbb;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.employeelist_edit_container .member_edit_flash{
  font-size: 1rem; 
  color: rgb(255, 0, 0);
  border-bottom: 1px solid red;
}

.employeelist_edit_content{
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  background-color: #c1e9e6;
  padding: 32px;
}
.employeelist_edit_content .form{
  display: flex;
}

.employeelist_edit_content .content{
  display: flex;
  flex-direction: column;
}
.employeelist_edit_content .content .checkbox{
  width: 24px;
  height: 24px;
}

.employeelist_edit_content .submit{
  margin-top: 32px;
  margin-left: 240px;
}

/* admin/employeelist */
.member_add{
  margin: 32px;
  padding: 8px;
  border: 1px solid black;
  background-color: #999f9aa4;
  text-align: center;
}

.member_add:hover{
  background-color: #5a5e5b;
}
.member_add:hover a{
  color: white;
}

.member_add a{
  text-decoration: none;
  color: black;
}

.member_add_flash{
  text-align: center;
  color: rgb(116, 116, 215);
}

.member_list{
  margin: 16px;
  padding: 16px;
}

.member_content{
  text-align: center;
  border: 1px solid black;
  margin: 0 auto;
  margin: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  background-color: #a4d9e632;
}
.member_content .edit_button{
  text-decoration:none;
  margin: 4px auto;
  background-color: #a7d7e9;
  color: black;
  padding: 4px 12px;
}
.member_content .edit_button:hover{
  background-color: #65c2e1;
}

.member_content .edit_button a{
  text-decoration: none;
  color: black;
}

.member_content .delete_button {
  margin: 0 auto;
  background-color: #ec9494;
  border: none;
  padding: 4px 12px;
  cursor: pointer;
}

.member_content .delete_button:hover {
  background-color: #df6060;
  color: rgb(14, 13, 13);
}

.member_content .delete_button a{
  text-decoration: none;
  color: black;
}
/* index.html.erb */
.admin_today{
  font-size: 5rem;
  text-align: center;
}
.message{
  font-size: 2rem;
  text-align: center;
  margin-top: 32px;
}

.admin_content{
  padding: 32px;
  margin: 96px 32px;
}
.notice{
  margin-left: 32px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

/* management.html.erb  */
.management_page_name{
  background-color: #cff8f2;
  padding:8px;
  margin-top: 32px;
  font-size: 2rem;
  text-align: center;
}
.admin_management_table{
  border: 1px solid black;
  margin: 16px auto;
  font-size: 2rem;
  padding: 4px;
}
.admin_management_table th{
  border: 1px solid black;
}
.admin_management_table td{
  border: 1px solid black;
  padding: 4px 16px;
}


/* new_member.html.erb  */
.new_member_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
}
.new_member_container .flash_message{
  color: red;
}
.new_member_content{
  background-color: #eff9f8;
  font-size: 2rem;
  border: 1px solid black;
  margin: 32px;
  padding: 32px;
}
.new_member_content p{
  font-size: 1rem;
  text-align: center;
}
.new_member_form_content{
  display: flex;
  flex-direction: column;
}
.new_member_form_content_submit{
  margin-top: 32px;
}

/* scheludle.html.erb  */
.schedule_page{
  background-image: url("/images/calendar.jpg");
  background-size: cover

}
.admin_schedule_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 36px;
  border-radius: 36px;
  margin: 36px;
}

.schedule_page .page_name{
  background-color: white;
  margin-top: 16px;
  text-align: center;
  font-size: 2rem;
}

.admin_schedule_content{
  font-size: 1.5rem;
  border: 1px solid black;
  margin: 16px;
  padding: 16px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: #bff0f4;
}

.admin_schedule_content a{
  color: rgb(80, 85, 80);
  text-align: center;
}
.admin_schedule_content a:hover{
  color: black;
}

/* shedule_new.html.erb  */
.schedule_new_work_date{
  border: 1px solid black;
  text-align: center;
}
.schedule_new_name{
 text-align: center;
 font-size: 1rem;
 margin-top: 48px;
}

.schedule_new_content{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.schedule_new_content .simple-calendar{
  background-color: #afe4e4;
  padding: 24px;
}

.schedule_new_content table{
  margin: 0 auto;
}
.schedule_new_content input{
  text-align: center;
}

.schedule_new_content table td{
  justify-content: flex-end;
}


.time_edit{
  margin-top: 24px;
}

.time_edit a{
  color: black;
  text-decoration: none;
}





/* admin/today.html.erb  */
.admin_today_container{
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding: 32px;
  background-color: #bec0c29b;
  border-radius: 0 0 16px 16px;
}

.admin_today_content{
  display: flex;
  /* justify-content: space-between; */
  margin-left: 24px;
  flex-wrap: wrap;
  margin-top: 24px;
}
.admin_today_content .name{
  min-width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #c3f3ff83;
  border: 0.2px solid rgb(0, 0, 0);
  padding: 8px  32px;
  margin: 8px;
  border-radius: 4px;
}

@media(max-width:599px){
  /* * */
  .admin_header{
    margin: 0;
    padding: 0;
  }
  .admin_header .header_message{
    font-size: 0.8rem;
    border-radius: 0;
  }

  
  .admin_header ul li{
    padding: 2px 14px;
  }
  .admin_header ul li a{
    font-size: 0.6rem;
  }
  /* index.html.erb  */

  .admin_content .admin_today{
    font-size: 2.8rem;
  }
  /* today.html.erb  */
  .admin_today_container{
    margin-top: 32px;
    width: 80vw;
  }

  .admin_today_content{
    display: flex;
   justify-content: center;
  }

  /* employeelist.html.erb  */
  .member_list .member_content{
    padding: 16px;
  }
  .member_list .member_content .info .phone a[href^="tel:"] {
    background-color: #a4d9e632;
  }
  .member_list .member_content .button{
    display: flex;
    align-items: center;
  }
  .member_list .member_content .button a{
    margin-right: 16px;
    padding: 5px 10px;
  }

  .member_list .member_content .info{
    text-align: left;
  }
  .member_list .member_content .info div{
    margin-left: 8px;
  }
  .schedule_new_content{
margin-top: 24px;
  }

  .schedule_new_content .simple-calendar{
    max-width: 95%;
    max-height: 500px;
    overflow: auto;
  }
  .schedule_new_content .simple-calendar .table{
    font-size: 0.8rem;
  }
  .schedule_new_content .simple-calendar .table tr td{
    vertical-align: top;
    padding: 0 12px 24px;
  }

  .employeelist_edit_container {
    height: 50vh;
  }
}
