/* 共通のスタイリング */
*{
  margin: 0;
  padding: 0;
}

header{
  background-color: #afe2ec;
  font-size:1.5rem;
}
.header_list{
  display: flex;
  justify-content: flex-end;
}
.header_list ul{
  display: flex;
}
.header_list ul li{
  list-style: none;
  cursor: pointer;
  border: 1px solid black;
  padding: 0 16px;
}


.header_list ul li:hover{
  background-color: #ebebed;
}
.header_list ul li a{
  text-decoration: none;
  color: rgb(21, 20, 20);
}

/* /admin */
.admin_today{
  font-size: 5rem;
  text-align: center;
}
.message{
  font-size: 2rem;
  text-align: center;
  margin-top: 32px;
}

.admin_content{
  
  border: 1px solid black;
  padding: 32px;
  margin: 96px 32px;
}
.notice ul{
  position: absolute;
  bottom: 32px;
}
.notice ul li{
  font-size: 2rem;

}
/* admin/employeelist */
.member_add{
  margin: 32px;
  padding: 8px;
  border: 1px solid black;
  background-color: #88ea99a4;
}

.member_add a{
  text-decoration: none;
  color: black;
}



/* admin/employeelist_editのスタイリング */
.employeelist_edit_container{
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}


.employeelist_edit_content{
  border: 1px solid black;
  padding: 32px;
  margin: 32px;
}
.employeelist_edit_content .submit{
  margin-top: 32px;
  margin-left: 240px;
}
/* employeelist.html.erb */

.member_add{
  text-align: center;
}
.member_add:hover{
  background-color: #41eb85;
}

.member_list{
  margin: 16px;
  padding: 16px;
  border: 1px solid black;
}

.member_content{
  border: 1px solid black;
  text-align: center;
  margin: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  background-color: #e6a7e032;
}
.member_content a{
  text-decoration:none;
}

.member_content button {
  background-color: #ec9494;
  border: none;
  padding: 6px 12px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

.member_content button:hover {
  background-color: #f22828;
  color: rgb(0, 0, 0);
}

/* new_member.html.erb  */
.new_member_container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
}
.new_member_content{
  font-size: 2rem;
  border: 1px solid black;
  margin: 32px;
  padding: 32px;
}
.new_member_content p{
  font-size: 1rem;
}
.new_member_form_content{
  display: flex;
  flex-direction: column;
}
.new_member_form_content_submit{
  margin-top: 32px;
}

/* scheludle.html.erb  */
.admin_schedule_container{

}

.admin_schedule_content{
  border: 1px solid black;
  margin: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

/* shedule_new.html.erb  */
.schedule_new_work_date{
  border: 1px solid black;
  text-align: center;
}

.schedule_new_content{
  text-align: center;
}

.schedule_new_content table{
  margin: 0 auto;
}

/* admin/today.html.erb  */
.admin_today_container{
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  border: 1px solid black;
  margin: 32px;
  padding: 32px;
}

.admin_today_content{
  margin-top: 16px;
  border: 1px solid black;
}


