/* ページ遷移部分 あとで変える*/
.member_header{
    display: flex;
    list-style:none;
}
.member_header li{
    margin-left: 16px;
}
/* attendance_management.html.erb  */
.attendance_management_container{
    border: 1px solid black;
    margin: 32px;
    padding: 32px;
    background-color: #bcf0cb;
}
.attendance_management_content{
    text-align: center;
}

.attendance_management_content table{
    margin: 0 auto;
}




.member_today{
    font-size: 2rem;
}

.manage_button{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.start_button{
    border: 1px solid black;
    margin: 16px;
    cursor: pointer;
}
.rest_start_button{
    border: 1px solid black;
    margin: 16px;
    cursor: pointer;
}
.rest_end_button{
    border: 1px solid black;
    margin: 16px;
    cursor: pointer;
}
.end_button{
    border: 1px solid black;
    margin: 16px;
    cursor: pointer;
}



/* profile_edit.html.erb */
.profile_edit_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.profile_edit_content{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    font-size: 2rem;
    padding: 32px;

    background-color: #a6dfec;
}
.profile_edit_content .submit{
    margin: 0 180px;
}